/*----Common styles----*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
.section-title {
    font-weight: 700;
font-size: 36px; 
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
    .section-title {

    }
}
@media only screen and (min-width: 1158px) {
    .section-title {
        
    }
}
.container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;       
}
}
@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
}
}
/*----/Common styles----*/
/*----Header styles----*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.page-header-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
    padding: 17px 0;
}
.logo-studio {
    color: #2e2f42;;
}
@media only screen and (max-width: 768px) {
    
    .menu,
    .address {
        display: none;
    }
    .menu-open-btn {
        background-color: transparent;
        padding: 0;
        fill: #2f2f37;
        border: none;
    }
    .menu-open-btn-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }
}
@media only screen and (min-width: 768px) {
.menu,
.address {
    display: flex;
}
.menu-open-btn {
    display: none;
}
.page-nav {
    display: flex;
    align-items: center;
    width: 496px;
}
.menu {
    display: flex;
    gap: 40px;
} 
.menu-link {
display: block;
padding-top: 24px;
padding-bottom: 24px;
font-weight: 500;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #2e2f42;
line-height: 1.5;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
position: relative;
color: #404bbf;
}
.current::after {
content: "";
position: absolute;
left: 0;
bottom: -1px;
background-color: #404bbf;
border-radius: 2px;
height: 4px;
width: 100%;
}
.menu-link:hover,
.menu-link:focus {
color: #404bbf;
}
.address {
    font-style: normal;
}
.address-link {
display: block;
padding-top: 12px;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item {
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list {
display: inline-block;
}
.address-item :focus,
.address-item :hover {
color: #404bbf; 
}
}
@media only screen and (min-width: 1158px) {
    .address {
        display: flex;
        }
    .address-link {
            padding-top: 24px;
            padding-bottom: 24px; 
        } 
    .address-list {
    display: flex;
    gap: 40px;
        }
        .page-nav {
            width: 467px;
        }    
}
/*----/Header styles----*/
/*----Mobile menu styles----*/
@media only screen and (max-width: 768px) {
    .page-header {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999999999;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
    
        opacity: 0;
        visibility: hidden;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-menu .is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .mobile-menu-conteiner {
        position: relative;
    }
    .mobile-menu-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        line-height: 0;
        fill: #2e2f42;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile-menu-close-btn:hover,
    .mobile-menu-close-btn:focus {
        background-color: #404bbf;
        border: none;
    }
    .mobile-menu-close-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    }
    .mobile-menu-close-btn:hover > mobile-menu-close-icon,
    .mobile-menu-close-btn:focus > mobile-menu-close-icon {
        fill: #ffffff;
    }
}
@media only screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    } 
}
.mobile-menu-link {
font-weight: 700;
font-size: 36px; 
line-height: 1.1;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;

}
.mobile-nav-menu {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 40px;
padding-top: 36px;
padding-bottom: 166px;
margin-top: 36px;
}
.mobile-address-link {
    font-weight: 500;
    font-size: 20px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}
.mobile-address-list {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 24px;
padding-bottom: 46px;
}

.mobile-media-links-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 40px;
}
.mobile-media-links-list {
    display: flex;
    gap: 16px;
}
.mobile-media-links-list-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-media-icon {
    fill: #f4f4fd;
}
/*----/Mobile menu styles----*/
/*----Hero styles----*/
.hero-container {
    text-align: center; 
}
.title {
   font-weight: 700;
    font-size: 36px; 
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 75px;
}
.button {
    min-width: 169px;
    height: 56px;
   
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
     max-width: 160px;
   
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
}
.button:focus,
.button:hover {
   background-color: #404bbf;  
}
.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 760px;
    margin: 0 auto;
    padding: 73px 0;

}
@media only screen and (min-width: 768px) {
    .title {
        max-width: 496px;
        margin-bottom: 40px;
    }
    .hero {
        padding: 112px 0;
        max-width: 1158px;
    }
}
@media only screen and (min-width: 1158px) {
    .title {
        margin-bottom: 54px;
    }
    .hero {
        padding: 188px 0;
        max-width: 1440px;
    }
}


/*----Hero styles----*/
.section-feature {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 72px;
padding-top: 95px;
padding-bottom: 23px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
.feature-title {

font-weight: 700;
font-size: 36px; 
line-height: 1.1;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
}
.page-text {
    text-align: left;
font-weight: 500;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding-bottom: 72px;
}
.menu-feature {
display: inline;
}
.feature-item {
    flex-direction: column;
}
@media only screen and (max-width: 1157px) {
    .div-icon {
        display: none;
    }
    
}
@media only screen and (min-width: 768px) {
    .menu-feature {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
}
.feature-item {
    width: calc((100% - 72px) / 2);

}
.page-text {
    padding-bottom: 48px;
}
}
@media only screen and (min-width: 1157px) {
    .div-icon {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        background: #f4f4fd;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    .section-feature {
        margin-top: 120px;
        margin-bottom: 120px;
        padding: 0;
    }
    .feature-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
    .page-text {
    font-weight: 400;
    }
    .menu-feature {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        }
    .feature-item {
        width: calc((100% - 72px) / 4);
    }
    }
/*----/Hero styles----*/
/*---- 1 Section styles----*/
.section-our-team {
    background: #f4f4fd;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
}
.page-team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
align-items: center;
justify-content: space-between;
flex-direction: column;

}
.team-list-item {
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    min-width: 264px;
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px){
    .section-our-team {
        padding-top: 90px;
    padding-bottom: 90px;
}
.team-list-item {
  
    width: calc((100% - 36px) / 2);
}
}
@media only screen and (min-width: 1157px) {
    .section-our-team {
        padding-top: 120px;
    padding-bottom: 120px;
}
.team-list-item {
    
    width: calc((100% - 72px) / 4);
}
}